*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
:root
{
    --text-color: #fff;
    --bg-color:#000;
    --main-color: #ffa343;
    --h1-font:6rem;
    --h2-font:3rem;
    --p-font:1rem;
}
body
{
    color: var(--text-color);
    background: var(--bg-color);
}
/* Header Section */
header
{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .50s ease;
}
/* Logo Class */
.logo
{
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
}
span
{
    color: var(--main-color);
}
.navbar
{
    display: flex;
}
.navbar a
{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 18px;
    transition: all .50s ease;
}
.navbar a:hover
{
    color: var(--main-color);
}
.h-right
{
    display: flex;
    align-items: center;
}
.h-right a:first-child
{
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 10px; 
}
.h-right a
{
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;    
}
.h-right a:hover
{
    color: var(--main-color);
    transform: translateY(-3px);
}
#menu-icon
{
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
/* Home Section */
section
{
    padding: 70px 17% 60px;
}
.home
{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left ,rgba(0,0,0,0.6),rgba(0,0,0,0.3)) ,url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home-text h5
{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--main-color);
}
.home-text h1
{
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}
.home-text p
{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}
/* Button Styling */
.btn
{
    display: inline-block;
    padding: 13px 40px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer;
}
.btn:hover
{
    transform: translateX(10px);
    border: 2px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
}
/* Scrolling Header Effect */
header.sticky
{
    padding: 8px 17%;
    background: var(--bg-color);
}
.feature-content
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    text-align: center;
    align-items: center;
    gap: 1rem;
}
/* Images Styling */
.row-img
{
    overflow: hidden;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.row-img img
{
     width: 150%;
    display: block; 
    transition: transform 0.7s;
}
.row-img #img
{
    width: 190%;
    display: block;
    transition: transform 0.7s;
}
.row-img img:hover
{
    transform: scale(1.2);
}
.feature-content h4
{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all .50s ease;

}
.feature-content h4:hover
{
    color: var(--main-color);
}
/* Holiday Section */
.holiday
{
    padding: 70px 8% 60px;
}
.holiday
{
    display: grid;
    grid-template-columns: repeat(2,12fr);
    align-items: center;
    gap: 3rem;
}
/* Holiday Images */
.holiday-img img
{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.holiday-text h5
{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.holiday-text h2
{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}
.holiday-text p
{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}
/* Tour Section */
.center-text
{
    text-align: center;
}
.center-text h2
{
    font-size: var(--h2-font);
    font-weight: 800;
}
/* Tour Content Styling */
.tour-content
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.box
{
    position: relative;
}
/* Tour Images Styling */
.box img
{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all .3s cubic-bezier(.499,.05,.55,.95);
    will-change: filter;
    display: block;
}
.box h6
{
    position: absolute;
    left: 25px;
    bottom: 95px;
    font-size: 18px;
    font-weight: 500;
}
.box h4
{
    position: absolute;
    left: 25px;
    bottom: 65px;
    font-size: 20px;
    font-weight: 700;
}
.box img:hover
{
    /* filter: brightness(100%) hue-rotate(50deg); */
    transform: scale(1.04);
    cursor: pointer; 
}
.center-btn
{
    text-align: center;
    margin-top: 4rem;
}
/* Culture Section */
.culture
{
    padding: 70px 8% 60px;
}
.culture
{
    display: grid;
    grid-template-columns: repeat(2,12fr);
    align-items: center;
    gap: 3rem;
}
.culture-img img
{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.culture-text h5
{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.culture-text h2
{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}
.culture-text p
{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}
/* Newsletter Section */
/* Newsletter Content Styling */
.newsletter
{
    padding: 70px 8% 60px;
}
.newsletter-content
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.newsletter-text h2
{
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 15px;
}
.newsletter-text p
{
    font-size: var(--p-font);
    font-weight: 500;
    color: #ffffffab;
}
.newsletter-content form
{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;
}
.newsletter-content form input:first-child
{
    padding: 15px;
    background: #202020;
    font-size: var(--p-font);
    color: var(--text-color);
    border-radius: 5px;
}
/* Footer Section */
.footer
{
    display: grid;
    padding: 70px 10% 60px;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 2rem;
}
.footer-box
{
    display: flex;
    flex-direction: column;
}
.footer-box h3
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-box a
{
    color: #979797;
    margin-bottom: 0.8rem;
    transition: all .50s ease;
}
.footer-box a:hover
{
    transform: translateX(-5px);
    color: var(--text-color);
}
/* Social Media Icons Styling */
.social a
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #202020;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 50%;
    margin-right: 8px;
    transition: transform 0.6ss;
}
.social a:hover
{
    background: var(--main-color);
    color: var(--bg-color);
    transform: translateX(-4px);
}
/* Copyright Styling */
.copyright p
{
    text-align: center;
    padding: 20px;
    color: #979797;
    font-size: 15px;
}
/* Making Webpage Responsive in Laptop using media queries */
@media(max-width:1700px)
{
    header
    {
        padding: 18px 8%;
    }
    header.sticky
    {
        padding: 7px 8%;
    }
    section
    {
        padding: 50px 8% 40px;
    }
}
/* Making Webpage Responsive in Tablet using media queries */
@media(max-width:1200px)
{
    header
    {
        padding: 14px 5%;
    }
    header.sticky
    {
        padding: 7px 5%;
    }
    section
    {
        padding: 45px 5% 35px;
    }
    :root
    {
        --h1-font: 4.6rem;
        --h2-font: 2.8rem;
        --p-font:  15px;
    }
    .home
    {
        height: 90vh;
    }
}
/* Applying Media Query on screen less than 1050px */
@media(max-width:1050px)
{
    .feature-content
    {
        gap: 1.5rem;
    }
    .holiday
    {
        padding: 70px 3% 60px;
        gap: 6rem;
    }
    .culture
    {
        gap: 4rem;
    }
    #menu-icon
    {
        display: block;
    }
    .navbar
    {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    .navbar a
    {
        display: block;
        color: #979797;
        padding: 0;
        margin: 0px 0px 40px 0px;
        font-size: 2.2rem;
        font-weight: 400;
    }
    .navbar.open
    {
        left: 0;
    }
}
/* Making Responsive for Mobile Phone using media query */
@media(max-width:800px)
{
    .holiday
    {
        grid-template-columns: 1fr;
    }
    .tour-content
    {
        grid-template-columns: 1fr;
    }
    .culture
    {
        grid-template-columns: 1fr;
    }
    .newsletter-content
    {
        grid-template-columns: 1fr;
    }
}
@media(max-width:600px)
{
    :root
    {
        --h1-font: 2.2rem;
        --h2-font: 2.1rem;
    }
    .home
    {
        height: 85vh;
    }
}
@media(max-width:450px)
{
    header
    {
        padding: 12px 3%;
        width: 100%;
    }
    header.sticky
    {
        padding: 26px 3%;
        transition: all .50s ease;
    }
    section
    {
        padding: 70px 1.5% 20px;
    }
    .home
    {
        height: 85vh;
        width: 100%;
        padding: 70px 5% 68px;
    }
    .home-text
    {
        margin-top: 5px;
    }
    .h-right
    {
        margin-right: 15px;
    }
    .home h5 
    {
        margin-top: 32px;
    }
    .newsletter-content form
    {
        grid-template-columns: 1fr;
    }
  .footer
  {
    padding: 70px 10% 60px;
    display: grid;
    grid-template-columns: 1fr;

  }
}
@media (max-width:375px)
{
    .home
    {
        height: 110vh;
    }
    .home-text
    {
        margin-top: 25px;
    }
}
@media(max-width:360px)
{
    header
    {
        padding: 12px 1%;
    }
    header.sticky
    {
        padding: 26px 1%;
    }
}
/* @media(max-width:280px)
{
    header
    {
        width: 50%;
    }
} */